@model UserCollectionModel

@{
    ViewBag.Title = UserResources.EntityPlural;
}

<div id="User_Title">
    <h3>@ViewBag.Title</h3>
</div>

@(Html.EJ().Grid<User>("Grid_User")
    .Datasource(datasource => datasource
        .Adaptor(AdaptorType.UrlAdaptor)
        .URL(Url.Content("~/User/DataSource"))
    )
    .AllowFiltering()
    .AllowGrouping()
    .AllowPaging()
    .AllowResizing()
    .AllowScrolling()
    .AllowSearching()
    .AllowSorting()
    .ClientSideEvents(clientEvent => clientEvent
        .ActionBegin("actionBegin_Grid_User")
        .ActionFailure("actionFailure_Grid_User")
        .Load("load_Grid_User")
        .ToolbarClick("toolbarClick_Grid_User")
    )
    .Columns(column =>
    {
        column.Field("Id")
            .EditType(EditingType.String)
            .HeaderText(UserResources.PropertyId)
            .IsPrimaryKey(true)
            .Visible(false)
            .Width(240)
            .Add();
        column.Field("UserName")
            .EditType(EditingType.String)
            .HeaderText(UserResources.PropertyUserName)
            .Visible(false)
            .Width(240)
            .Add();
        column.Field("Email")
            .EditType(EditingType.String)
            .HeaderText(UserResources.PropertyEmail)
            .Visible(true)
            .Width(240)
            .Add();
        // !!!
        //column.Field("EmailConfirmed")
        //    .EditType(EditingType.String)
        //    .HeaderText(UserResources.PropertyEmailConfirmed)
        //    .Visible(true)
        //    .Width(100)
        //    .Add();
        //column.Field("PasswordHash")
        //    .EditType(EditingType.String)
        //    .HeaderText(UserResources.PropertyPasswordHash)
        //    .Visible(false)
        //    .Width(-10)
        //    .Add();
        //column.Field("SecurityStamp")
        //    .EditType(EditingType.String)
        //    .HeaderText(UserResources.PropertySecurityStamp)
        //    .Visible(false)
        //    .Width(-10)
        //    .Add();
        //column.Field("PhoneNumber")
        //    .EditType(EditingType.String)
        //    .HeaderText(UserResources.PropertyPhoneNumber)
        //    .Visible(false)
        //    .Width(-10)
        //    .Add();
        //column.Field("PhoneNumberConfirmed")
        //    .EditType(EditingType.String)
        //    .HeaderText(UserResources.PropertyPhoneNumberConfirmed)
        //    .Visible(false)
        //    .Width(100)
        //    .Add();
        //column.Field("TwoFactorEnabled")
        //    .EditType(EditingType.String)
        //    .HeaderText(UserResources.PropertyTwoFactorEnabled)
        //    .Visible(false)
        //    .Width(100)
        //    .Add();
        //column.Field("LockoutEndDateUtc")
        //    .EditType(EditingType.DateTimePicker)
        //    .Format(SyncfusionPatternResources.GridFormat_DateTime)
        //    .HeaderText(UserResources.PropertyLockoutEndDateUtc)
        //    .Visible(false)
        //    .Width(100)
        //    .Add();
        //column.Field("LockoutEnabled")
        //    .EditType(EditingType.String)
        //    .HeaderText(UserResources.PropertyLockoutEnabled)
        //    .Visible(false)
        //    .Width(100)
        //    .Add();
        //column.Field("AccessFailedCount")
        //    .EditType(EditingType.Numeric)
        //    .Format(SyncfusionPatternResources.GridFormat_Integer)
        //    .HeaderText(UserResources.PropertyAccessFailedCount)
        //    .TextAlign(TextAlign.Right)
        //    .Visible(false)
        //    .Width(100)
        //    .Add();
    })
    .EditSettings(edit => edit
        .AllowAdding()
        .AllowDeleting()
        .AllowEditing()
    )
    .EnablePersistence()
    .FilterSettings(filter => filter
        .EnableCaseSensitivity(false)
        .FilterType(FilterType.Excel)
        .MaxFilterChoices(System.Int32.MaxValue)
    )
    .Mappers(map => map
        .ExportToExcelAction(Url.Content("~/User/ExportToExcel"))
        .ExportToPdfAction(Url.Content("~/User/ExportToPdf"))
        .ExportToWordAction(Url.Content("~/User/ExportToWord"))
    )
    .PageSettings(page => page
        .PageSize(AppDefaults.SyncfusionRecordsByPage)
    )
    .SearchSettings(search =>
    {
        search.Fields(field =>
        {
            //field.Add("Id");
            field.Add("UserName");
            field.Add("Email");
            // !!!
            //field.Add("EmailConfirmed");
            //field.Add("PasswordHash");
            //field.Add("SecurityStamp");
            //field.Add("PhoneNumber");
            //field.Add("PhoneNumberConfirmed");
            //field.Add("TwoFactorEnabled");
            //field.Add("LockoutEndDateUtc");
            //field.Add("LockoutEnabled");
            //field.Add("AccessFailedCount");
        });
    })
    .ShowColumnChooser()
    .ToolbarSettings(toolbar => toolbar
        .CustomToolbarItems(new List<object>() {
            new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Toolbar_Grid_User" }
        })
        .ShowToolbar()
        .ToolbarItems(items =>
        {
            items.AddTool(ToolBarItems.Search);
            items.AddTool(ToolBarItems.Add);
            items.AddTool(ToolBarItems.Edit);
            items.AddTool(ToolBarItems.Delete);
            items.AddTool(ToolBarItems.ExcelExport);
            items.AddTool(ToolBarItems.PdfExport);
            items.AddTool(ToolBarItems.WordExport);
        })
    )
)

@Html.OperationResult(Model.OperationResult)

<script type="text/x-jsrender" id="Toolbar_Grid_User">
    <div id="Toolbar_Grid_User_Read" class="e-toolbaricons e-icon e-document" title="@PresentationResources.Read"></div>
</script>

<script>
    $(function () {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();
    
            ej.widget.init($("#Ajax"));
            var title = $("#User_Title");       

            var gridUser = $("#Grid_User");
            var ejGridUser = gridUser.data("ejGrid");
    
            if (ejGridUser.model.filterSettings.filteredColumns.length != 0) {
                ejGridUser.clearFiltering();
            }
                
            if (!model.IsMasterDetail) {
                title.css("display", "block");
                $(document).prop("title", "@Html.Raw(AppHelper.DocumentTitle(ViewBag.Title))");
                
                ejGridUser.setModel({
                    allowGrouping: true,
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: [
                            ej.Grid.ToolBarItems.Search,
                            ej.Grid.ToolBarItems.Add,
                            ej.Grid.ToolBarItems.Edit,
                            ej.Grid.ToolBarItems.Delete,
                            ej.Grid.ToolBarItems.ExcelExport,
                            ej.Grid.ToolBarItems.PdfExport,
                            ej.Grid.ToolBarItems.WordExport
                        ]                    
                    }
                });
            } else {
                title.css("display", "none");
    
                ejGridUser.setModel({
                    allowGrouping: false,
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: [
                            ej.Grid.ToolBarItems.Add,
                            ej.Grid.ToolBarItems.Edit,
                            ej.Grid.ToolBarItems.Delete
                        ]                    
                    }
                });
            }
        } catch (exception) {
            alert(zExceptionMessage("_UserCollection.cshtml", "function()", exception));
        }                
    });
    
    function actionBegin_Grid_User(args) {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();
            var masterControllerAction = model.MasterControllerAction == null ? "" : model.MasterControllerAction.toLowerCase();
    
            // Associations (FK)
            var url = "";

            if (masterControllerAction == "" || masterControllerAction == "update") {
                switch(args.requestType) {
                    case "add":
                        // Create
                        if (model.IsSecurityOperations.IsCreate) {
                            $("#Ajax").load("@(Url.Action("Create", "User", null, Request.Url.Scheme))" + (url == "" ? "" : "?") + url);
                        }
                        break;
                    case "read":
                        // Read
                        if (model.IsSecurityOperations.IsRead) {
                            var data = args.data;
                            if (!ej.isNullOrUndefined(data)) {
                                $("#Ajax").load("@(Url.Action("Read", "User", null, Request.Url.Scheme))?Id=" + String(data.Id) + (url == "" ? "" : "&") + url);
                            }
                        }
                        break;                        
                    case "beginedit":
                        // Update
                        if (model.IsSecurityOperations.IsUpdate) {
                            var data = this.model.currentViewData[args.rowIndex];
                            if (!ej.isNullOrUndefined(data)) {
                                $("#Ajax").load("@(Url.Action("Update", "User", null, Request.Url.Scheme))?Id=" + String(data.Id) + (url == "" ? "" : "&") + url);
                            }
                        }
                        break;
                    case "delete":
                        // Delete
                        if (model.IsSecurityOperations.IsDelete) {
                            var data = args.data;
                            if (!ej.isNullOrUndefined(data)) {
                                $("#Ajax").load("@(Url.Action("Delete", "User", null, Request.Url.Scheme))?Id=" + String(data.Id) + (url == "" ? "" : "&") + url);
                            }
                        }
                        break;
                }
            }

            if (args.requestType == "add" || args.requestType == "beginedit" || args.requestType == "delete") {
                args.cancel = true;
            }
        } catch (exception) {
            alert(zExceptionMessage("_UserCollection.cshtml", "actionBegin_Grid_User(args)", exception));
        }            
    }
    
    function actionFailure_Grid_User(args) {
        try {
            alert(zErrorMessage(args.error.responseText));
        } catch (exception) {
            alert(zExceptionMessage("_UserCollection.cshtml", "actionFailure_Grid_User(args)", exception));
        }
    }    

    function load_Grid_User(args) {
        try {            
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            this.model.locale = culture;
        } catch (exception) {
            alert(zExceptionMessage("_UserCollection.cshtml", "load_Grid_User(args)", exception));
        }
    }

    function toolbarClick_Grid_User(sender) {
        try {
            var toolbar = $(sender.target);
            var gridUser = $("#Grid_User");
            var ejGridUser = gridUser.data("ejGrid");

            if (toolbar.attr("id") == "Toolbar_Grid_User_Read") {
                var records = ejGridUser.getSelectedRecords();
                if (records.length == 1) {
                    var args = { requestType: "read", data: records[0] };
                    actionBegin_Grid_User(args)
                }
            }
        } catch (exception) {
            alert(zExceptionMessage("_UserCollection.cshtml", "toolbarClick_Grid_User(sender)", exception));
        }
    }
</script>
