@model CategoryItemModel

@{
    string category_Picture_Base64 = Convert.ToBase64String(new byte[] {});
    if (Model.Category != null && Model.Category.Picture != null)
    {
        category_Picture_Base64 = Convert.ToBase64String(Model.Category.Picture);
    }
    string category_Picture_Source = string.Format("data:image/jpg;base64,{0}", category_Picture_Base64);        
}

<div id="Item_Category">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.ControllerAction)
    @Html.HiddenFor(model => model.IsMasterDetail)

    @{Html.EJ().Tab("Tab_Category")
          .Items(data =>
          {
          data.Add().ID("TabSheet_Category_Category").Text(CategoryResources.EntitySingular).ContentTemplate(@<div class="panel-body">        
                
                <div id="Group_Category_CategoryId" class="@AppDefaults.CssClassGroup col-md-2">
                    @Html.LabelFor(model => model.Category.CategoryId, new { @class = AppDefaults.CssClassLabelRequired })
                    @Html.EditorFor(model => model.Category.CategoryId, new { id = "Category_CategoryId", htmlAttributes = new { @class = AppDefaults.CssClassEditor } })
                    @Html.ValidationMessageFor(model => model.Category.CategoryId, "", new { @class = AppDefaults.CssClassValidator })
                </div>
                
                <div id="Group_Category_CategoryName" class="@AppDefaults.CssClassGroup col-md-2">
                    @Html.LabelFor(model => model.Category.CategoryName, new { @class = AppDefaults.CssClassLabelRequired })
                    @Html.EditorFor(model => model.Category.CategoryName, new { id = "Category_CategoryName", htmlAttributes = new { @class = AppDefaults.CssClassEditor } })
                    @Html.ValidationMessageFor(model => model.Category.CategoryName, "", new { @class = AppDefaults.CssClassValidator })
                </div>
                
                <div id="Group_Category_Description" class="@AppDefaults.CssClassGroup col-md-3">
                    @Html.LabelFor(model => model.Category.Description, new { @class = AppDefaults.CssClassLabel })
                    @Html.EditorFor(model => model.Category.Description, new { id = "Category_Description", htmlAttributes = new { @class = AppDefaults.CssClassEditor } })
                    @Html.ValidationMessageFor(model => model.Category.Description, "", new { @class = AppDefaults.CssClassValidator })
                </div>
                
                <div id="Group_Category_Picture" class="@AppDefaults.CssClassGroup col-md-2">
                    @Html.Label(@CategoryResources.PropertyPicture, new { @class = AppDefaults.CssClassLabel })
                    <img src="@category_Picture_Source" class="z-image" />
                    @Html.ValidationMessageFor(model => model.Category.Picture, "", new { @class = AppDefaults.CssClassValidator })
                </div>

            </div>);
            data.Add().ID("TabSheet_Category_Product").Text(ProductResources.EntityPlural).ContentTemplate(@<div class="panel-body">    
                <div id="Ajax_Category_Product"></div>
            </div>);
        })
        .Render();
    }
</div>

<script>
    // Validate hidden fields
    $.validator.setDefaults({ ignore: null });
    // Parse validators
    $.validator.unobtrusive.parse($("#Ajax"));

    $(function () {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();
            var categoryDictionary = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(DataHelper.GetDataDictionaryAttribute(typeof(Category)))); }();
            var controllerAction = model.ControllerAction == null ? "" : model.ControllerAction.toLowerCase();
            
            $(document).prop("title", "@(ViewBag.Title)");

            var ajaxUrl = "";
            // Product
            ajaxUrl = "@(Html.Raw(Url.Action("Search", "Product", new { MasterUrl = Context.Request.Url.AbsoluteUri, MasterControllerAction = Model.ControllerAction, MasterCategoryId = Model.Category.CategoryId })))";
            $("#Ajax_Category_Product").load(ajaxUrl);

            ej.widget.init($("#Item_Category"));

            if ((model.ControllerAction = "create" && model.IsSecurityOperations.IsCreate) ||
                (model.ControllerAction = "read" && model.IsSecurityOperations.IsRead) ||
                (model.ControllerAction = "update" && model.IsSecurityOperations.IsUpdate) ||
                (model.ControllerAction = "delete" && model.IsSecurityOperations.IsDelete)) {
                $("#Item_Category").css("display", "block");
            }
            else {
                $("#Item_Category").css("display", "none");
            }

            var readonly = (controllerAction == "delete" || controllerAction == "read");
            $("input.form-control").not(":input[type=button], :input[type=image], :input[type=reset], :input[type=submit]").attr("readonly", readonly);
            if (readonly) {
                $("img.z-buttonLookup").hide();
            }
            else {
                $("img.z-buttonLookup").show();
            }

            $("input[name$='_Lookup']").attr("readonly", true);

            if (categoryDictionary.IsIdentity) {            
                $("#Group_Category_CategoryId").hide();
            }

            // Associations (FK)

            // Collections (PK)
            var display = controllerAction == "create" ? "none" : "block";
            // Product
            $("#Grid_Product").css("display", display);
        } catch (exception) {
            alert(zExceptionMessage("_CategoryItem.cshtml", "function", exception));
        }
    });
</script>
