@model EmployeeTerritoryCollectionModel

@{
    ViewBag.Title = EmployeeTerritoryResources.EntityPlural;
}

<div id="EmployeeTerritory_Title">
    <h3>@ViewBag.Title</h3>
</div>

@(Html.EJ().Grid<EmployeeTerritory>("Grid_EmployeeTerritory")
    .Datasource(datasource => datasource
        .Adaptor(AdaptorType.UrlAdaptor)
        .URL(Url.Content("~/EmployeeTerritory/DataSource"))
    )
    .AllowFiltering()
    .AllowGrouping()
    .AllowPaging()
    .AllowResizing()
    .AllowScrolling()
    .AllowSearching()
    .AllowSorting()
    .ClientSideEvents(clientEvent => clientEvent
        .ActionBegin("actionBegin_Grid_EmployeeTerritory")
        .ActionFailure("actionFailure_Grid_EmployeeTerritory")
        .Load("load_Grid_EmployeeTerritory")
        .ToolbarClick("toolbarClick_Grid_EmployeeTerritory")
    )
    .Columns(column =>
    {
        column.Field("EmployeeId")
            .EditType(EditingType.Numeric)
            .Format(SyncfusionPatternResources.GridFormat_Integer)
            .HeaderText(EmployeeTerritoryResources.PropertyEmployeeId)
            .IsPrimaryKey(true)
            .TextAlign(TextAlign.Right)
            .Visible(true)
            .Width(100)
            .Add();
        column.Field("EmployeeLookupText")
            .AllowEditing(false)
            .HeaderText(EmployeeResources.EntitySingular)
            .Visible(true)
            .Width(100)
            .Add();
        column.Field("TerritoryId")
            .EditType(EditingType.String)
            .HeaderText(EmployeeTerritoryResources.PropertyTerritoryId)
            .IsPrimaryKey(true)
            .Visible(true)
            .Width(200)
            .Add();
        column.Field("TerritoryLookupText")
            .AllowEditing(false)
            .HeaderText(TerritoryResources.EntitySingular)
            .Visible(true)
            .Width(100)
            .Add();
    })
    .EditSettings(edit => edit
        .AllowAdding()
        .AllowDeleting()
        .AllowEditing()
    )
    .EnablePersistence()
    .FilterSettings(filter => filter
        .EnableCaseSensitivity(false)
        .FilterType(FilterType.Excel)
        .MaxFilterChoices(System.Int32.MaxValue)
    )
    .Mappers(map => map
        .ExportToExcelAction(Url.Content("~/EmployeeTerritory/ExportToExcel"))
        .ExportToPdfAction(Url.Content("~/EmployeeTerritory/ExportToPdf"))
        .ExportToWordAction(Url.Content("~/EmployeeTerritory/ExportToWord"))
    )
    .PageSettings(page => page
        .PageSize(AppDefaults.SyncfusionRecordsByPage)
    )
    .SearchSettings(search =>
    {
        search.Fields(field =>
        {
            field.Add("EmployeeId");
            field.Add("EmployeeLookupText");
            field.Add("TerritoryId");
            field.Add("TerritoryLookupText");
        });
    })
    .ShowColumnChooser()
    .ToolbarSettings(toolbar => toolbar
        .CustomToolbarItems(new List<object>() {
            new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Toolbar_Grid_EmployeeTerritory" }
        })
        .ShowToolbar()
        .ToolbarItems(items =>
        {
            items.AddTool(ToolBarItems.Search);
            items.AddTool(ToolBarItems.Add);
            items.AddTool(ToolBarItems.Edit);
            items.AddTool(ToolBarItems.Delete);
            items.AddTool(ToolBarItems.ExcelExport);
            items.AddTool(ToolBarItems.PdfExport);
            items.AddTool(ToolBarItems.WordExport);
        })
    )
)

@Html.OperationResult(Model.OperationResult)

<script type="text/x-jsrender" id="Toolbar_Grid_EmployeeTerritory">
    <div id="Toolbar_Grid_EmployeeTerritory_Read" class="e-toolbaricons e-icon e-document" title="@PresentationResources.Read"></div>
</script>

<script>
    $(function () {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();
    
            ej.widget.init($("#Ajax"));
            var title = $("#EmployeeTerritory_Title");       

            var gridEmployeeTerritory = $("#Grid_EmployeeTerritory");
            var ejGridEmployeeTerritory = gridEmployeeTerritory.data("ejGrid");
    
            if (ejGridEmployeeTerritory.model.filterSettings.filteredColumns.length != 0) {
                ejGridEmployeeTerritory.clearFiltering();
            }
                
            if (!model.IsMasterDetail) {
                title.css("display", "block");
                $(document).prop("title", "@Html.Raw(AppHelper.DocumentTitle(ViewBag.Title))");
                
                ejGridEmployeeTerritory.setModel({
                    allowGrouping: true,
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: [
                            ej.Grid.ToolBarItems.Search,
                            ej.Grid.ToolBarItems.Add,
                            ej.Grid.ToolBarItems.Edit,
                            ej.Grid.ToolBarItems.Delete,
                            ej.Grid.ToolBarItems.ExcelExport,
                            ej.Grid.ToolBarItems.PdfExport,
                            ej.Grid.ToolBarItems.WordExport
                        ]                    
                    }
                });
            } else {
                title.css("display", "none");
    
                ejGridEmployeeTerritory.setModel({
                    allowGrouping: false,
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: [
                            ej.Grid.ToolBarItems.Add,
                            ej.Grid.ToolBarItems.Edit,
                            ej.Grid.ToolBarItems.Delete
                        ]                    
                    }
                });

                if (model.MasterEmployeeId != null) {
                    ejGridEmployeeTerritory.filterColumn("EmployeeId", ej.FilterOperators.equal, model.MasterEmployeeId, ej.Predicate.and);
                } else if (model.MasterTerritoryId != null) {
                    ejGridEmployeeTerritory.filterColumn("TerritoryId", ej.FilterOperators.equal, model.MasterTerritoryId, ej.Predicate.and);
                }
            }
        } catch (exception) {
            alert(zExceptionMessage("_EmployeeTerritoryCollection.cshtml", "function()", exception));
        }                
    });
    
    function actionBegin_Grid_EmployeeTerritory(args) {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();
            var masterControllerAction = model.MasterControllerAction == null ? "" : model.MasterControllerAction.toLowerCase();
    
            // Associations (FK)
            var url = "";
            // Employee
            if (model.MasterEmployeeId != null) {
                url = url + (url == "" ? "" : "&") + "MasterEmployeeId=" + String(model.MasterEmployeeId);
            }
            // Territory
            if (model.MasterTerritoryId != null) {
                url = url + (url == "" ? "" : "&") + "MasterTerritoryId=" + String(model.MasterTerritoryId);
            }

            if (masterControllerAction == "" || masterControllerAction == "update") {
                switch(args.requestType) {
                    case "add":
                        // Create
                        if (model.IsSecurityOperations.IsCreate) {
                            $("#Ajax").load("@(Url.Action("Create", "EmployeeTerritory", null, Request.Url.Scheme))" + (url == "" ? "" : "?") + url);
                        }
                        break;
                    case "read":
                        // Read
                        if (model.IsSecurityOperations.IsRead) {
                            var data = args.data;
                            if (!ej.isNullOrUndefined(data)) {
                                $("#Ajax").load("@(Url.Action("Read", "EmployeeTerritory", null, Request.Url.Scheme))?EmployeeId=" + String(data.EmployeeId) + "&TerritoryId=" + String(data.TerritoryId) + (url == "" ? "" : "&") + url);
                            }
                        }
                        break;                        
                    case "beginedit":
                        // Update
                        if (model.IsSecurityOperations.IsUpdate) {
                            var data = this.model.currentViewData[args.rowIndex];
                            if (!ej.isNullOrUndefined(data)) {
                                $("#Ajax").load("@(Url.Action("Update", "EmployeeTerritory", null, Request.Url.Scheme))?EmployeeId=" + String(data.EmployeeId) + "&TerritoryId=" + String(data.TerritoryId) + (url == "" ? "" : "&") + url);
                            }
                        }
                        break;
                    case "delete":
                        // Delete
                        if (model.IsSecurityOperations.IsDelete) {
                            var data = args.data;
                            if (!ej.isNullOrUndefined(data)) {
                                $("#Ajax").load("@(Url.Action("Delete", "EmployeeTerritory", null, Request.Url.Scheme))?EmployeeId=" + String(data.EmployeeId) + "&TerritoryId=" + String(data.TerritoryId) + (url == "" ? "" : "&") + url);
                            }
                        }
                        break;
                }
            }

            if (args.requestType == "add" || args.requestType == "beginedit" || args.requestType == "delete") {
                args.cancel = true;
            }
        } catch (exception) {
            alert(zExceptionMessage("_EmployeeTerritoryCollection.cshtml", "actionBegin_Grid_EmployeeTerritory(args)", exception));
        }            
    }
    
    function actionFailure_Grid_EmployeeTerritory(args) {
        try {
            alert(zErrorMessage(args.error.responseText));
        } catch (exception) {
            alert(zExceptionMessage("_EmployeeTerritoryCollection.cshtml", "actionFailure_Grid_EmployeeTerritory(args)", exception));
        }
    }    

    function load_Grid_EmployeeTerritory(args) {
        try {            
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            this.model.locale = culture;
        } catch (exception) {
            alert(zExceptionMessage("_EmployeeTerritoryCollection.cshtml", "load_Grid_EmployeeTerritory(args)", exception));
        }
    }

    function toolbarClick_Grid_EmployeeTerritory(sender) {
        try {
            var toolbar = $(sender.target);
            var gridEmployeeTerritory = $("#Grid_EmployeeTerritory");
            var ejGridEmployeeTerritory = gridEmployeeTerritory.data("ejGrid");

            if (toolbar.attr("id") == "Toolbar_Grid_EmployeeTerritory_Read") {
                var records = ejGridEmployeeTerritory.getSelectedRecords();
                if (records.length == 1) {
                    var args = { requestType: "read", data: records[0] };
                    actionBegin_Grid_EmployeeTerritory(args)
                }
            }
        } catch (exception) {
            alert(zExceptionMessage("_EmployeeTerritoryCollection.cshtml", "toolbarClick_Grid_EmployeeTerritory(sender)", exception));
        }
    }
</script>
