@model LookupModel

<div class="input-group">
    <span class="input-group-addon"><img id="@(Model.ValueId + "_Button")" class="z-buttonLookup" /></span>
    @Html.TextBox(Model.ValueId + "_Lookup", Model.Text, new { @class = AppDefaults.CssClassEditor + " z-lookup" })
</div>

<div id="Modal_Product_Lookup" aria-labelledby="Label_Product_Lookup" class="modal fade col-md-10" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="@PresentationResources.Cancel" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                <h4 id="Label_Product_Lookup" class="modal-title">@ProductResources.EntityPlural</h4>
            </div>
            <div class="modal-body">

                @(Html.EJ().Grid<Product>("Grid_Product_Lookup")
                    .Datasource(datasource => datasource
                        .Adaptor(AdaptorType.UrlAdaptor)
                        .URL(Url.Content("~/Product/DataSource"))
                    )
                    .AllowFiltering()
                    .AllowPaging()
                    .AllowSearching()
                    .AllowSorting()
                    .ClientSideEvents(clientEvent => clientEvent
                        .ActionFailure("actionFailure_Grid_Product_Lookup")
                        .Load("load_Grid_Product_Lookup")
                        .RowSelected("rowSelected_Grid_Product_Lookup")                       
                    )
                    .Columns(column =>
                    {
                        column.Field("ProductId")
                            .AllowEditing(false)
                            .EditType(EditingType.Numeric)
                            .HeaderText(ProductResources.PropertyProductId)
                            .IsIdentity(true)
                            .IsPrimaryKey(true)
                            .Visible(false)
                            .Width(100)
                            .Add();
                        column.Field("ProductName")
                            .EditType(EditingType.String)
                            .HeaderText(ProductResources.PropertyProductName)
                            .Visible(true)
                            .Width(240)
                            .Add();
                        column.Field("SupplierId")
                            .EditType(EditingType.Numeric)
                            .HeaderText(ProductResources.PropertySupplierId)
                            .Visible(false)
                            .Width(100)
                            .Add();
                        column.Field("SupplierLookupText")
                            .AllowEditing(false)
                            .HeaderText(SupplierResources.EntitySingular)
                            .Visible(true)
                            .Width(100)
                            .Add();
                        column.Field("CategoryId")
                            .EditType(EditingType.Numeric)
                            .HeaderText(ProductResources.PropertyCategoryId)
                            .Visible(false)
                            .Width(100)
                            .Add();
                        column.Field("CategoryLookupText")
                            .AllowEditing(false)
                            .HeaderText(CategoryResources.EntitySingular)
                            .Visible(true)
                            .Width(100)
                            .Add();
                        column.Field("QuantityPerUnit")
                            .EditType(EditingType.String)
                            .HeaderText(ProductResources.PropertyQuantityPerUnit)
                            .Visible(true)
                            .Width(200)
                            .Add();
                        column.Field("UnitPrice")
                            .EditType(EditingType.Numeric)
                            .HeaderText(ProductResources.PropertyUnitPrice)
                            .Visible(false)
                            .Width(100)
                            .Add();
                        column.Field("UnitsInStock")
                            .EditType(EditingType.Numeric)
                            .HeaderText(ProductResources.PropertyUnitsInStock)
                            .Visible(false)
                            .Width(100)
                            .Add();
                        column.Field("UnitsOnOrder")
                            .EditType(EditingType.Numeric)
                            .HeaderText(ProductResources.PropertyUnitsOnOrder)
                            .Visible(false)
                            .Width(100)
                            .Add();
                        column.Field("ReorderLevel")
                            .EditType(EditingType.Numeric)
                            .HeaderText(ProductResources.PropertyReorderLevel)
                            .Visible(false)
                            .Width(100)
                            .Add();
                        column.Field("Discontinued")
                            .EditType(EditingType.String)
                            .HeaderText(ProductResources.PropertyDiscontinued)
                            .Visible(false)
                            .Width(100)
                            .Add();
                    })
                    .FilterSettings(filter => filter
                        .EnableCaseSensitivity(false)
                        .FilterType(FilterType.Excel)
                        .MaxFilterChoices(System.Int32.MaxValue)
                    )
                    .PageSettings(page => page
                        .PageSize(AppDefaults.SyncfusionRecordsByPage)
                    )
                    .SearchSettings(search =>
                    {
                        search.Fields(field =>
                        {
                            //field.Add("ProductId");
                            field.Add("ProductName");
                            //field.Add("SupplierId");
                            //field.Add("SupplierLookupText");
                            //field.Add("CategoryId");
                            //field.Add("CategoryLookupText");
                            field.Add("QuantityPerUnit");
                            //field.Add("UnitPrice");
                            //field.Add("UnitsInStock");
                            //field.Add("UnitsOnOrder");
                            //field.Add("ReorderLevel");
                            //field.Add("Discontinued");
                        });
                    })
                    .ShowColumnChooser()
                    .ToolbarSettings(toolbar => toolbar
                        .ShowToolbar()
                        .ToolbarItems(items =>
                        {
                            items.AddTool(ToolBarItems.Search);
                        })
                    )
                )

            </div>
        </div>
    </div>
</div>

@*
@Html.OperationResult(Model.OperationResult)
*@

<script>
    $(function () {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();
    
            $("#@Model.ValueId").hide();
    
            $("#@(Model.ValueId)_Button").click(function () {
                $("#Modal_Product_Lookup").modal("show");
            });
    
            $("#@(Model.ValueId)_Lookup").attr("readonly", true);
            $("#@(Model.ValueId)_Lookup").val(model.Text.toLocaleString("@CultureInfo.CurrentCulture.Name"));
    
            $("#Modal_Product_Lookup").modal("hide");
        } catch (exception) {
            alert(zExceptionMessage("_ProductLookup.cshtml", "function ()", exception));
        }
    });
    
    function actionFailure_Grid_Product_Lookup(args) {
        try {
            alert(zErrorMessage(args.error.responseText));
        } catch (exception) {
            alert(zExceptionMessage("_ProductLookup.cshtml", "actionFailure_Grid_Product_Lookup(args)", exception));
        }
    }    

    function load_Grid_Product_Lookup(args) {
        try {            
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            this.model.locale = culture;
        } catch (exception) {
            alert(zExceptionMessage("_ProductLookup.cshtml", "load_Grid_Product_Lookup(args)", exception));
        }
    }

    function rowSelected_Grid_Product_Lookup(args) {
        try {
            var data = this.model.currentViewData[args.rowIndex];
    
            $("#@(Model.ValueId)").val(data.ProductId);
    
            $("#@(Model.ValueId)_Lookup").val(data.LookupText);

            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            zLookupElements(data, model.Elements, culture);
    
            $("#Modal_Product_Lookup").modal("hide");
        } catch (exception) {
            alert(zExceptionMessage("_ProductLookup.cshtml", "rowSelected_Grid_Product_Lookup(args)", exception));
        }
    }
</script>