@model AuditTrailConfigurationCollectionModel

@{
    ViewBag.Title = AuditTrailConfigurationResources.EntityPlural;
}

<div id="AuditTrailConfiguration_Title">
    <h3>@ViewBag.Title</h3>
</div>

@(Html.EJ().Grid<AuditTrailConfiguration>("Grid_AuditTrailConfiguration")
    .Datasource(datasource => datasource
        .Adaptor(AdaptorType.UrlAdaptor)
        .URL(Url.Content("~/AuditTrailConfiguration/DataSource"))
    )
    .AllowFiltering()
    .AllowGrouping()
    .AllowPaging()
    .AllowResizing()
    .AllowScrolling()
    .AllowSearching()
    .AllowSorting()
    .ClientSideEvents(clientEvent => clientEvent
        .ActionBegin("actionBegin_Grid_AuditTrailConfiguration")
        .ActionFailure("actionFailure_Grid_AuditTrailConfiguration")
        .Load("load_Grid_AuditTrailConfiguration")
        .ToolbarClick("toolbarClick_Grid_AuditTrailConfiguration")
    )
    .Columns(column =>
    {
        column.Field("AuditTrailConfigurationId")
            .AllowEditing(false)
            .EditType(EditingType.Numeric)
            .Format(SyncfusionPatternResources.GridFormat_Integer)
            .HeaderText(AuditTrailConfigurationResources.PropertyAuditTrailConfigurationId)
            .IsIdentity(true)
            .IsPrimaryKey(true)
            .TextAlign(TextAlign.Right)
            .Visible(false)
            .Width(100)
            .Add();
        column.Field("Domain")
            .EditType(EditingType.String)
            .HeaderText(AuditTrailConfigurationResources.PropertyDomain)
            .Visible(true)
            .Width(240)
            .Add();
        column.Field("Entity")
            .EditType(EditingType.String)
            .HeaderText(AuditTrailConfigurationResources.PropertyEntity)
            .Visible(true)
            .Width(240)
            .Add();
        column.Field("LogMode")
            .EditType(EditingType.String)
            .HeaderText(AuditTrailConfigurationResources.PropertyLogMode)
            .Visible(true)
            .Width(75)
            .Add(); // !!!
        column.Field("LogOperations")
            .EditType(EditingType.String)
            .HeaderText(AuditTrailConfigurationResources.PropertyLogOperations)
            .Visible(true)
            .Width(75)
            .Add(); // !!!
    })
    .EditSettings(edit => edit
        .AllowAdding()
        .AllowDeleting()
        .AllowEditing()
    )
    .EnablePersistence()
    .FilterSettings(filter => filter
        .EnableCaseSensitivity(false)
        .FilterType(FilterType.Excel)
        .MaxFilterChoices(System.Int32.MaxValue)
    )
    .Mappers(map => map
        .ExportToExcelAction(Url.Content("~/AuditTrailConfiguration/ExportToExcel"))
        .ExportToPdfAction(Url.Content("~/AuditTrailConfiguration/ExportToPdf"))
        .ExportToWordAction(Url.Content("~/AuditTrailConfiguration/ExportToWord"))
    )
    .PageSettings(page => page
        .PageSize(AppDefaults.SyncfusionRecordsByPage)
    )
    .SearchSettings(search =>
    {
        search.Fields(field =>
        {
            //field.Add("AuditTrailConfigurationId");
            field.Add("UnitOfWork");
            field.Add("Repository");
            //field.Add("LogMode");
            //field.Add("LogOperations");
        });
    })
    .ShowColumnChooser()
    .ToolbarSettings(toolbar => toolbar
        .CustomToolbarItems(new List<object>() {
            new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Toolbar_Grid_AuditTrailConfiguration" }
        })
        .ShowToolbar()
        .ToolbarItems(items =>
        {
            items.AddTool(ToolBarItems.Search);
            items.AddTool(ToolBarItems.Add);
            items.AddTool(ToolBarItems.Edit);
            items.AddTool(ToolBarItems.Delete);
            items.AddTool(ToolBarItems.ExcelExport);
            items.AddTool(ToolBarItems.PdfExport);
            items.AddTool(ToolBarItems.WordExport);
        })
    )
)

@Html.OperationResult(Model.OperationResult)

<script type="text/x-jsrender" id="Toolbar_Grid_AuditTrailConfiguration">
    <div id="Toolbar_Grid_AuditTrailConfiguration_Read" class="e-toolbaricons e-icon e-document" title="@PresentationResources.Read"></div>
</script>

<script>
    $(function () {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();

            ej.widget.init($("#Ajax"));
            var title = $("#AuditTrailConfiguration_Title");

            var gridAuditTrailConfiguration = $("#Grid_AuditTrailConfiguration");
            var ejGridAuditTrailConfiguration = gridAuditTrailConfiguration.data("ejGrid");

            if (ejGridAuditTrailConfiguration.model.filterSettings.filteredColumns.length != 0) {
                ejGridAuditTrailConfiguration.clearFiltering();
            }

            if (!model.IsMasterDetail) {
                title.css("display", "block");
                $(document).prop("title", "@Html.Raw(AppHelper.DocumentTitle(ViewBag.Title))");

                ejGridAuditTrailConfiguration.setModel({
                    allowGrouping: true,
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: [
                            ej.Grid.ToolBarItems.Search,
                            ej.Grid.ToolBarItems.Add,
                            ej.Grid.ToolBarItems.Edit,
                            ej.Grid.ToolBarItems.Delete,
                            ej.Grid.ToolBarItems.ExcelExport,
                            ej.Grid.ToolBarItems.PdfExport,
                            ej.Grid.ToolBarItems.WordExport
                        ]
                    }
                });
            } else {
                title.css("display", "none");

                ejGridAuditTrailConfiguration.setModel({
                    allowGrouping: false,
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: [
                            ej.Grid.ToolBarItems.Add,
                            ej.Grid.ToolBarItems.Edit,
                            ej.Grid.ToolBarItems.Delete
                        ]
                    }
                });
            }
        } catch (exception) {
            alert(zExceptionMessage("_AuditTrailConfigurationCollection.cshtml", "function()", exception));
        }
    });

    function actionBegin_Grid_AuditTrailConfiguration(args) {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();
            var masterControllerAction = model.MasterControllerAction == null ? "" : model.MasterControllerAction.toLowerCase();

            // Associations (FK)
            var url = "";

            if (masterControllerAction == "" || masterControllerAction == "update") {
                switch(args.requestType) {
                    case "add":
                        // Create
                        if (model.IsSecurityOperations.IsCreate) {
                            $("#Ajax").load("@(Url.Action("Create", "AuditTrailConfiguration", null, Request.Url.Scheme))" + (url == "" ? "" : "?") + url);
                        }
                        break;
                    case "read":
                        // Read
                        if (model.IsSecurityOperations.IsRead) {
                            var data = args.data;
                            if (!ej.isNullOrUndefined(data)) {
                                $("#Ajax").load("@(Url.Action("Read", "AuditTrailConfiguration", null, Request.Url.Scheme))?AuditTrailConfigurationId=" + String(data.AuditTrailConfigurationId) + (url == "" ? "" : "&") + url);
                            }
                        }
                        break;
                    case "beginedit":
                        // Update
                        if (model.IsSecurityOperations.IsUpdate) {
                            var data = this.model.currentViewData[args.rowIndex];
                            if (!ej.isNullOrUndefined(data)) {
                                $("#Ajax").load("@(Url.Action("Update", "AuditTrailConfiguration", null, Request.Url.Scheme))?AuditTrailConfigurationId=" + String(data.AuditTrailConfigurationId) + (url == "" ? "" : "&") + url);
                            }
                        }
                        break;
                    case "delete":
                        // Delete
                        if (model.IsSecurityOperations.IsDelete) {
                            var data = args.data;
                            if (!ej.isNullOrUndefined(data)) {
                                $("#Ajax").load("@(Url.Action("Delete", "AuditTrailConfiguration", null, Request.Url.Scheme))?AuditTrailConfigurationId=" + String(data.AuditTrailConfigurationId) + (url == "" ? "" : "&") + url);
                            }
                        }
                        break;
                }
            }

            if (args.requestType == "add" || args.requestType == "beginedit" || args.requestType == "delete") {
                args.cancel = true;
            }
        } catch (exception) {
            alert(zExceptionMessage("_AuditTrailConfigurationCollection.cshtml", "actionBegin_Grid_AuditTrailConfiguration(args)", exception));
        }
    }

    function actionFailure_Grid_AuditTrailConfiguration(args) {
        try {
            alert(zErrorMessage(args.error.responseText));
        } catch (exception) {
            alert(zExceptionMessage("_AuditTrailConfigurationCollection.cshtml", "actionFailure_Grid_AuditTrailConfiguration(args)", exception));
        }
    }

    function load_Grid_AuditTrailConfiguration(args) {
        try {
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            this.model.locale = culture;
        } catch (exception) {
            alert(zExceptionMessage("_AuditTrailConfigurationCollection.cshtml", "load_Grid_AuditTrailConfiguration(args)", exception));
        }
    }

    function toolbarClick_Grid_AuditTrailConfiguration(sender) {
        try {
            var toolbar = $(sender.target);
            var gridAuditTrailConfiguration = $("#Grid_AuditTrailConfiguration");
            var ejGridAuditTrailConfiguration = gridAuditTrailConfiguration.data("ejGrid");

            if (toolbar.attr("id") == "Toolbar_Grid_AuditTrailConfiguration_Read") {
                var records = ejGridAuditTrailConfiguration.getSelectedRecords();
                if (records.length == 1) {
                    var args = { requestType: "read", data: records[0] };
                    actionBegin_Grid_AuditTrailConfiguration(args)
                }
            }
        } catch (exception) {
            alert(zExceptionMessage("_AuditTrailConfigurationCollection.cshtml", "toolbarClick_Grid_AuditTrailConfiguration(sender)", exception));
        }
    }
</script>
