@model AuditTrailConfigurationItemModel

@{
    ViewBag.Title = AppHelper.PageTitle(AuditTrailConfigurationResources.EntitySingular, PresentationResources.Read);

    AjaxOptions ajaxOptions = new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        OnFailure = "ajaxFailure",
        OnSuccess = "ajaxSuccess",
        UpdateTargetId = "Ajax"
    };
}

<h3>@ViewBag.Title</h3>

@using (Ajax.BeginForm("Read", "AuditTrailConfiguration", ajaxOptions))
{
    @Html.AntiForgeryToken()

    <div class="form-inline">
        @Html.Partial("_AuditTrailConfigurationItem", Model)
    </div>
    
    <div class="z-formButtons">
        @Html.Raw(@Ajax.ImageLink("Button_Cancel", MvcHelper.ReadUrlDictionary(Context, "AuditTrailConfiguration"), "Ajax", "z-buttonCancel", PresentationResources.Cancel))
    </div>
}

<div id="OperationResult"></div>

<script>
    $(function () {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();
    
            if (model.IsSecurityOperations.IsRead) {
                $("#Button_Cancel").show();
            }
            else {
                $("#Button_Cancel").show();
            }
        } catch (exception) {
            zExceptionMessage("AuditTrailConfiguration Read.cshtml", "function", exception.message)
        }
    });

    function ajaxFailure(jqXHR, textStatus, errorThrown) {
        try {
            $("#OperationResult").html(zAjaxOperationResult(jqXHR));
        } catch (exception) {
            zExceptionMessage("AuditTrailConfiguration Read.cshtml", "ajaxFailure", exception.message)
        }
    }

    function ajaxSuccess(data, textStatus, jqXHR) {
        try {
            if (data != null) {
                $("#Ajax").load(data.uri);
            }
        } catch (exception) {
            zExceptionMessage("AuditTrailConfiguration Read.cshtml", "ajaxSuccess", exception.message)
        }
    }
</script>