@model UserClaimItemModel

@{
    string userText = Model.UserClaim == null ? "" : (Model.UserClaim.UserLookupText ?? "");
}

<div id="Item_UserClaim">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.ControllerAction)
    @Html.HiddenFor(model => model.IsMasterDetail)
    @Html.HiddenFor(model => model.MasterUserId)

    @{Html.EJ().Tab("Tab_UserClaim")
        .Items(data =>
        {
            data.Add().ID("TabSheet_UserClaim_UserClaim").Text(UserClaimResources.EntitySingular).ContentTemplate(@<div class="panel-body">        
                
                <div id="Group_UserClaim_Id" class="@AppDefaults.CssClassGroup col-md-2">
                    @Html.LabelFor(model => model.UserClaim.Id, new { @class = AppDefaults.CssClassLabelRequired })
                    @Html.EditorFor(model => model.UserClaim.Id, new { id = "UserClaim_Id", htmlAttributes = new { @class = AppDefaults.CssClassEditor } })
                    @Html.ValidationMessageFor(model => model.UserClaim.Id, "", new { @class = AppDefaults.CssClassValidator })
                </div>
                
                <div id="Group_UserClaim_UserId" class="@AppDefaults.CssClassGroup col-md-6">
                    @Html.Label(@UserResources.EntitySingular, new { @class = AppDefaults.CssClassLabelRequired })
                    @Html.EditorFor(model => model.UserClaim.UserId, new { id = "UserClaim_UserId", htmlAttributes = new { @class = AppDefaults.CssClassEditor } })                    
                    @Html.Action("Lookup", "User", new
                    {
                        Text = userText,
                        ValueId = "UserClaim_UserId"
                    })
                    @Html.ValidationMessageFor(model => model.UserClaim.UserId, "", new { @class = AppDefaults.CssClassValidator })
                </div>
                
                <div id="Group_UserClaim_ClaimType" class="@AppDefaults.CssClassGroup col-md-2">
                    @Html.LabelFor(model => model.UserClaim.ClaimType, new { @class = AppDefaults.CssClassLabel })
                    @Html.EditorFor(model => model.UserClaim.ClaimType, new { id = "UserClaim_ClaimType", htmlAttributes = new { @class = AppDefaults.CssClassEditor } })
                    @Html.ValidationMessageFor(model => model.UserClaim.ClaimType, "", new { @class = AppDefaults.CssClassValidator })
                </div>
                
                <div id="Group_UserClaim_ClaimValue" class="@AppDefaults.CssClassGroup col-md-2">
                    @Html.LabelFor(model => model.UserClaim.ClaimValue, new { @class = AppDefaults.CssClassLabel })
                    @Html.EditorFor(model => model.UserClaim.ClaimValue, new { id = "UserClaim_ClaimValue", htmlAttributes = new { @class = AppDefaults.CssClassEditor } })
                    @Html.ValidationMessageFor(model => model.UserClaim.ClaimValue, "", new { @class = AppDefaults.CssClassValidator })
                </div>

            </div>);
        })
        .Render();
    }
</div>

<script>
    // Validate hidden fields
    $.validator.setDefaults({ ignore: null });
    // Parse validators
    $.validator.unobtrusive.parse($("#Ajax"));

    $(function () {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();
            var userClaimDictionary = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(DataHelper.GetDataDictionaryAttribute(typeof(UserClaim)))); }();
            var controllerAction = model.ControllerAction == null ? "" : model.ControllerAction.toLowerCase();
            
            $(document).prop("title", "@(ViewBag.Title)");

            var ajaxUrl = "";

            ej.widget.init($("#Item_UserClaim"));

            if ((model.ControllerAction = "create" && model.IsSecurityOperations.IsCreate) ||
                (model.ControllerAction = "read" && model.IsSecurityOperations.IsRead) ||
                (model.ControllerAction = "update" && model.IsSecurityOperations.IsUpdate) ||
                (model.ControllerAction = "delete" && model.IsSecurityOperations.IsDelete)) {
                $("#Item_UserClaim").css("display", "block");
            }
            else {
                $("#Item_UserClaim").css("display", "none");
            }

            var readonly = (controllerAction == "delete" || controllerAction == "read");
            $("input.form-control").not(":input[type=button], :input[type=image], :input[type=reset], :input[type=submit]").attr("readonly", readonly);
            if (readonly) {
                $("img.z-buttonLookup").hide();
            }
            else {
                $("img.z-buttonLookup").show();
            }

            $("input[name$='_Lookup']").attr("readonly", true);

            if (userClaimDictionary.IsIdentity) {            
                $("#Group_UserClaim_Id").hide();
            }

            // Associations (FK)
            // User
            if (model.MasterId != null) {
                $("#UserClaim_UserId").val(model.MasterId);
                $("#Group_UserClaim_UserId").hide();            
            }

            // Collections (PK)
            var display = controllerAction == "create" ? "none" : "block";
        } catch (exception) {
            alert(zExceptionMessage("_UserClaimItem.cshtml", "function", exception));
        }
    });
</script>
