@model ShipperItemModel

@{
}

<div id="Item_Shipper">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.ControllerAction)
    @Html.HiddenFor(model => model.IsMasterDetail)

    @{Html.EJ().Tab("Tab_Shipper")
        .Items(data =>
        {
            data.Add().ID("TabSheet_Shipper_Shipper").Text(ShipperResources.EntitySingular).ContentTemplate(@<div class="panel-body">        
                
                <div id="Group_Shipper_ShipperId" class="@AppDefaults.CssClassGroup col-md-2">
                    @Html.LabelFor(model => model.Shipper.ShipperId, new { @class = AppDefaults.CssClassLabelRequired })
                    @Html.EditorFor(model => model.Shipper.ShipperId, new { id = "Shipper_ShipperId", htmlAttributes = new { @class = AppDefaults.CssClassEditor } })
                    @Html.ValidationMessageFor(model => model.Shipper.ShipperId, "", new { @class = AppDefaults.CssClassValidator })
                </div>
                
                <div id="Group_Shipper_CompanyName" class="@AppDefaults.CssClassGroup col-md-5">
                    @Html.LabelFor(model => model.Shipper.CompanyName, new { @class = AppDefaults.CssClassLabelRequired })
                    @Html.EditorFor(model => model.Shipper.CompanyName, new { id = "Shipper_CompanyName", htmlAttributes = new { @class = AppDefaults.CssClassEditor } })
                    @Html.ValidationMessageFor(model => model.Shipper.CompanyName, "", new { @class = AppDefaults.CssClassValidator })
                </div>
                
                <div id="Group_Shipper_Phone" class="@AppDefaults.CssClassGroup col-md-3">
                    @Html.LabelFor(model => model.Shipper.Phone, new { @class = AppDefaults.CssClassLabel })
                    @Html.EditorFor(model => model.Shipper.Phone, new { id = "Shipper_Phone", htmlAttributes = new { @class = AppDefaults.CssClassEditor } })
                    @Html.ValidationMessageFor(model => model.Shipper.Phone, "", new { @class = AppDefaults.CssClassValidator })
                </div>

            </div>);
            data.Add().ID("TabSheet_Shipper_Order").Text(OrderResources.EntityPlural).ContentTemplate(@<div class="panel-body">    
                <div id="Ajax_Shipper_Order"></div>
            </div>);
        })
        .Render();
    }
</div>

<script>
    // Validate hidden fields
    $.validator.setDefaults({ ignore: null });
    // Parse validators
    $.validator.unobtrusive.parse($("#Ajax"));

    $(function () {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();
            var shipperDictionary = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(DataHelper.GetDataDictionaryAttribute(typeof(Shipper)))); }();
            var controllerAction = model.ControllerAction == null ? "" : model.ControllerAction.toLowerCase();
            
            $(document).prop("title", "@(ViewBag.Title)");

            var ajaxUrl = "";
            // Order
            ajaxUrl = "@(Html.Raw(Url.Action("Search", "Order", new { MasterUrl = Context.Request.Url.AbsoluteUri, MasterControllerAction = Model.ControllerAction, MasterShipVia = Model.Shipper.ShipperId })))";
            $("#Ajax_Shipper_Order").load(ajaxUrl);

            ej.widget.init($("#Item_Shipper"));

            if ((model.ControllerAction = "create" && model.IsSecurityOperations.IsCreate) ||
                (model.ControllerAction = "read" && model.IsSecurityOperations.IsRead) ||
                (model.ControllerAction = "update" && model.IsSecurityOperations.IsUpdate) ||
                (model.ControllerAction = "delete" && model.IsSecurityOperations.IsDelete)) {
                $("#Item_Shipper").css("display", "block");
            }
            else {
                $("#Item_Shipper").css("display", "none");
            }

            var readonly = (controllerAction == "delete" || controllerAction == "read");
            $("input.form-control").not(":input[type=button], :input[type=image], :input[type=reset], :input[type=submit]").attr("readonly", readonly);
            if (readonly) {
                $("img.z-buttonLookup").hide();
            }
            else {
                $("img.z-buttonLookup").show();
            }

            $("input[name$='_Lookup']").attr("readonly", true);

            if (shipperDictionary.IsIdentity) {            
                $("#Group_Shipper_ShipperId").hide();
            }

            // Associations (FK)

            // Collections (PK)
            var display = controllerAction == "create" ? "none" : "block";
            // Order
            $("#Grid_Order").css("display", display);
        } catch (exception) {
            alert(zExceptionMessage("_ShipperItem.cshtml", "function", exception));
        }
    });
</script>
