@model ActivityCollectionModel

@{
    ViewBag.Title = ActivityResources.EntityPlural;
}

<div id="Activity_Title">
    <h3>@ViewBag.Title</h3>
</div>

@(Html.EJ().Grid<Activity>("Grid_Activity")
    .Datasource(datasource => datasource
        .Adaptor(AdaptorType.UrlAdaptor)
        .URL(Url.Content("~/Activity/DataSource"))
    )
    .AllowFiltering()
    .AllowGrouping()
    .AllowPaging()
    .AllowResizing()
    .AllowScrolling()
    .AllowSearching()
    .AllowSorting()
    .ClientSideEvents(clientEvent => clientEvent
        .ActionBegin("actionBegin_Grid_Activity")
        .ActionFailure("actionFailure_Grid_Activity")
        .Load("load_Grid_Activity")
        .ToolbarClick("toolbarClick_Grid_Activity")
    )
    .Columns(column =>
    {
        column.Field("Id")
            .EditType(EditingType.String)
            .HeaderText(ActivityResources.PropertyId)
            .IsPrimaryKey(true)
            .Visible(false)
            .Width(240)
            .Add();
        column.Field("Name")
            .EditType(EditingType.String)
            .HeaderText(ActivityResources.PropertyName)
            .Visible(true)
            .Width(240)
            .Add();
    })
    .EditSettings(edit => edit
        .AllowAdding()
        .AllowDeleting()
        .AllowEditing()
    )
    .EnablePersistence()
    .FilterSettings(filter => filter
        .EnableCaseSensitivity(false)
        .FilterType(FilterType.Excel)
        .MaxFilterChoices(System.Int32.MaxValue)
    )
    .Mappers(map => map
        .ExportToExcelAction(Url.Content("~/Activity/ExportToExcel"))
        .ExportToPdfAction(Url.Content("~/Activity/ExportToPdf"))
        .ExportToWordAction(Url.Content("~/Activity/ExportToWord"))
    )
    .PageSettings(page => page
        .PageSize(AppDefaults.SyncfusionRecordsByPage)
    )
    .SearchSettings(search =>
    {
        search.Fields(field =>
        {
            //field.Add("Id");
            field.Add("Name");
        });
    })
    .ShowColumnChooser()
    .ToolbarSettings(toolbar => toolbar
        .CustomToolbarItems(new List<object>() {
            new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Toolbar_Grid_Activity" }
        })
        .ShowToolbar()
        .ToolbarItems(items =>
        {
            items.AddTool(ToolBarItems.Search);
            items.AddTool(ToolBarItems.Add);
            items.AddTool(ToolBarItems.Edit);
            items.AddTool(ToolBarItems.Delete);
            items.AddTool(ToolBarItems.ExcelExport);
            items.AddTool(ToolBarItems.PdfExport);
            items.AddTool(ToolBarItems.WordExport);
        })
    )
)

@Html.OperationResult(Model.OperationResult)

<script type="text/x-jsrender" id="Toolbar_Grid_Activity">
    <div id="Toolbar_Grid_Activity_Read" class="e-toolbaricons e-icon e-document" title="@PresentationResources.Read"></div>
</script>

<script>
    $(function () {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();
    
            ej.widget.init($("#Ajax"));
            var title = $("#Activity_Title");       

            var gridActivity = $("#Grid_Activity");
            var ejGridActivity = gridActivity.data("ejGrid");
    
            if (ejGridActivity.model.filterSettings.filteredColumns.length != 0) {
                ejGridActivity.clearFiltering();
            }
                
            if (!model.IsMasterDetail) {
                title.css("display", "block");
                $(document).prop("title", "@Html.Raw(AppHelper.DocumentTitle(ViewBag.Title))");
                
                ejGridActivity.setModel({
                    allowGrouping: true,
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: [
                            ej.Grid.ToolBarItems.Search,
                            ej.Grid.ToolBarItems.Add,
                            ej.Grid.ToolBarItems.Edit,
                            ej.Grid.ToolBarItems.Delete,
                            ej.Grid.ToolBarItems.ExcelExport,
                            ej.Grid.ToolBarItems.PdfExport,
                            ej.Grid.ToolBarItems.WordExport
                        ]                    
                    }
                });
            } else {
                title.css("display", "none");
    
                ejGridActivity.setModel({
                    allowGrouping: false,
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: [
                            ej.Grid.ToolBarItems.Add,
                            ej.Grid.ToolBarItems.Edit,
                            ej.Grid.ToolBarItems.Delete
                        ]                    
                    }
                });
            }
        } catch (exception) {
            alert(zExceptionMessage("_ActivityCollection.cshtml", "function()", exception));
        }                
    });
    
    function actionBegin_Grid_Activity(args) {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();
            var masterControllerAction = model.MasterControllerAction == null ? "" : model.MasterControllerAction.toLowerCase();
    
            // Associations (FK)
            var url = "";

            if (masterControllerAction == "" || masterControllerAction == "update") {
                switch(args.requestType) {
                    case "add":
                        // Create
                        if (model.IsSecurityOperations.IsCreate) {
                            $("#Ajax").load("@(Url.Action("Create", "Activity", null, Request.Url.Scheme))" + (url == "" ? "" : "?") + url);
                        }
                        break;
                    case "read":
                        // Read
                        if (model.IsSecurityOperations.IsRead) {
                            var data = args.data;
                            if (!ej.isNullOrUndefined(data)) {
                                $("#Ajax").load("@(Url.Action("Read", "Activity", null, Request.Url.Scheme))?Id=" + String(data.Id) + (url == "" ? "" : "&") + url);
                            }
                        }
                        break;                        
                    case "beginedit":
                        // Update
                        if (model.IsSecurityOperations.IsUpdate) {
                            var data = this.model.currentViewData[args.rowIndex];
                            if (!ej.isNullOrUndefined(data)) {
                                $("#Ajax").load("@(Url.Action("Update", "Activity", null, Request.Url.Scheme))?Id=" + String(data.Id) + (url == "" ? "" : "&") + url);
                            }
                        }
                        break;
                    case "delete":
                        // Delete
                        if (model.IsSecurityOperations.IsDelete) {
                            var data = args.data;
                            if (!ej.isNullOrUndefined(data)) {
                                $("#Ajax").load("@(Url.Action("Delete", "Activity", null, Request.Url.Scheme))?Id=" + String(data.Id) + (url == "" ? "" : "&") + url);
                            }
                        }
                        break;
                }
            }

            if (args.requestType == "add" || args.requestType == "beginedit" || args.requestType == "delete") {
                args.cancel = true;
            }
        } catch (exception) {
            alert(zExceptionMessage("_ActivityCollection.cshtml", "actionBegin_Grid_Activity(args)", exception));
        }            
    }
    
    function actionFailure_Grid_Activity(args) {
        try {
            alert(zErrorMessage(args.error.responseText));
        } catch (exception) {
            alert(zExceptionMessage("_ActivityCollection.cshtml", "actionFailure_Grid_Activity(args)", exception));
        }
    }    

    function load_Grid_Activity(args) {
        try {            
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            this.model.locale = culture;
        } catch (exception) {
            alert(zExceptionMessage("_ActivityCollection.cshtml", "load_Grid_Activity(args)", exception));
        }
    }

    function toolbarClick_Grid_Activity(sender) {
        try {
            var toolbar = $(sender.target);
            var gridActivity = $("#Grid_Activity");
            var ejGridActivity = gridActivity.data("ejGrid");

            if (toolbar.attr("id") == "Toolbar_Grid_Activity_Read") {
                var records = ejGridActivity.getSelectedRecords();
                if (records.length == 1) {
                    var args = { requestType: "read", data: records[0] };
                    actionBegin_Grid_Activity(args)
                }
            }
        } catch (exception) {
            alert(zExceptionMessage("_ActivityCollection.cshtml", "toolbarClick_Grid_Activity(sender)", exception));
        }
    }
</script>
