@model OrderDetailItemModel

@{
    string orderText = Model.OrderDetail == null ? "" : (Model.OrderDetail.OrderLookupText ?? "");
    string productText = Model.OrderDetail == null ? "" : (Model.OrderDetail.ProductLookupText ?? "");
}

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@Html.HiddenFor(model => model.ControllerAction)
@Html.HiddenFor(model => model.IsMasterDetail)
@Html.HiddenFor(model => model.MasterOrderId)
@Html.HiddenFor(model => model.MasterProductId)

@{Html.EJ().Tab("Tab_OrderDetail")
    .ClientSideEvents(clientEvent => clientEvent
        .ItemActive("itemActive_Tab_OrderDetail")
    )
    .Items(data =>
    {
        data.Add().ID("TabSheet_OrderDetail_OrderDetail").Text(OrderDetailResources.EntitySingular).ContentTemplate(@<div class="panel-body">        
            
            <div id="Group_OrderDetail_OrderId" class="@AppDefaults.CssClassGroup col-md-6">
                @Html.Label(@OrderResources.EntitySingular, new { @class = AppDefaults.CssClassLabelRequired })
                @Html.EditorFor(model => model.OrderDetail.OrderId, new { id = "OrderDetail_OrderId", htmlAttributes = new { @class = AppDefaults.CssClassEditor } })                    
                @Html.Action("Lookup", "Order", new
                {
                    Text = orderText,
                    ValueId = "OrderDetail_OrderId"
                })
                @Html.ValidationMessageFor(model => model.OrderDetail.OrderId, "", new { @class = AppDefaults.CssClassValidator })
            </div>
            
            <div id="Group_OrderDetail_ProductId" class="@AppDefaults.CssClassGroup col-md-6">
                @Html.Label(@ProductResources.EntitySingular, new { @class = AppDefaults.CssClassLabelRequired })
                @Html.EditorFor(model => model.OrderDetail.ProductId, new { id = "OrderDetail_ProductId", htmlAttributes = new { @class = AppDefaults.CssClassEditor } })                    
                @Html.Action("Lookup", "Product", new
                {
                    Text = productText,
                    ValueId = "OrderDetail_ProductId"
                })
                @Html.ValidationMessageFor(model => model.OrderDetail.ProductId, "", new { @class = AppDefaults.CssClassValidator })
            </div>
            
            <div id="Group_OrderDetail_UnitPrice" class="@AppDefaults.CssClassGroup col-md-2">
                @Html.LabelFor(model => model.OrderDetail.UnitPrice, new { @class = AppDefaults.CssClassLabelRequired })
                @Html.EditorFor(model => model.OrderDetail.UnitPrice, new { id = "OrderDetail_UnitPrice", htmlAttributes = new { @class = AppDefaults.CssClassEditor } })
                @Html.ValidationMessageFor(model => model.OrderDetail.UnitPrice, "", new { @class = AppDefaults.CssClassValidator })
            </div>
            
            <div id="Group_OrderDetail_Quantity" class="@AppDefaults.CssClassGroup col-md-2">
                @Html.LabelFor(model => model.OrderDetail.Quantity, new { @class = AppDefaults.CssClassLabelRequired })
                @Html.EditorFor(model => model.OrderDetail.Quantity, new { id = "OrderDetail_Quantity", htmlAttributes = new { @class = AppDefaults.CssClassEditor } })
                @Html.ValidationMessageFor(model => model.OrderDetail.Quantity, "", new { @class = AppDefaults.CssClassValidator })
            </div>
            
            <div id="Group_OrderDetail_Discount" class="@AppDefaults.CssClassGroup col-md-2">
                @Html.LabelFor(model => model.OrderDetail.Discount, new { @class = AppDefaults.CssClassLabelRequired })
                @Html.EditorFor(model => model.OrderDetail.Discount, new { id = "OrderDetail_Discount", htmlAttributes = new { @class = AppDefaults.CssClassEditor } })
                @Html.ValidationMessageFor(model => model.OrderDetail.Discount, "", new { @class = AppDefaults.CssClassValidator })
            </div>

        </div>);
    })
    .Render();
}

<script>
    // Validate hidden fields
    $.validator.setDefaults({ ignore: null });
    // Parse validators
    $.validator.unobtrusive.parse($("#Ajax"));

    $(function () {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();
            var orderDetailDictionary = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(DataHelper.GetDataDictionaryAttribute(typeof(OrderDetail)))); }();
            var controllerAction = model.ControllerAction == null ? "" : model.ControllerAction.toLowerCase();
            
            var ajaxUrl = "";
            ej.widget.init($("#Ajax"));
            $(document).prop("title", "@(ViewBag.Title)");            
    
            var readonly = (controllerAction == "delete" || controllerAction == "read");
            $("input.form-control").not(":input[type=button], :input[type=image], :input[type=reset], :input[type=submit]").attr("readonly", readonly);
            if (readonly) {
                $("img.z-buttonLookup").hide();
            }
            else {
                $("img.z-buttonLookup").show();
            }

            $("input[name$='_Lookup']").attr("readonly", true);

            if (orderDetailDictionary.IsIdentity) {            
                $("#Group_OrderDetail_OrderId").hide();
                $("#Group_OrderDetail_ProductId").hide();
            }

            // Associations (FK)
            // Order
            if (model.MasterOrderId != null) {
                $("#OrderDetail_OrderId").val(model.MasterOrderId);
                $("#Group_OrderDetail_OrderId").hide();            
            }
            // Product
            if (model.MasterProductId != null) {
                $("#OrderDetail_ProductId").val(model.MasterProductId);
                $("#Group_OrderDetail_ProductId").hide();            
            }

            // Collections (PK)
            var display = controllerAction == "create" ? "none" : "block";
        } catch (exception) {
            alert(zExceptionMessage("_OrderDetailItem.cshtml", "function()", exception));
        }
    });

    function itemActive_Tab_OrderDetail(args) { // IE
        try {
        } catch (exception) {
            alert(zExceptionMessage("_OrderDetailItem.cshtml", "itemActive_Tab_OrderDetail(args)", exception));
        }
    }    
</script>
