@model CustomerCustomerDemoCollectionModel

@{
    ViewBag.Title = CustomerCustomerDemoResources.EntityPlural;
    
    string query = "";
    if (Model.MasterCustomerTypeId != null)
    {
        query = String.Format("ej.Query().where(\"CustomerTypeId\", ej.FilterOperators.equal, \"{0}\")", Model.MasterCustomerTypeId);
    }
    else if (Model.MasterCustomerId != null)
    {
        query = String.Format("ej.Query().where(\"CustomerId\", ej.FilterOperators.equal, \"{0}\")", Model.MasterCustomerId);
    }
}

<div id="Collection_CustomerCustomerDemo_Title">
    <h3>@ViewBag.Title</h3>
</div>

<div id="Collection_CustomerCustomerDemo">
    @(Html.EJ().Grid<CustomerCustomerDemo>("Grid_CustomerCustomerDemo")
        .Datasource(datasource => datasource
            .Adaptor(AdaptorType.UrlAdaptor)
            .URL(Url.Content("~/CustomerCustomerDemo/DataSource"))
        )
        .Query(query)
        .AllowFiltering()
        .AllowGrouping()
        .AllowPaging()
        .AllowResizing()
        .AllowScrolling()
        .AllowSearching()
        .AllowSorting()
        .ClientSideEvents(clientEvent => clientEvent
            .ActionBegin("actionBegin_Grid_CustomerCustomerDemo")
            .ActionFailure("actionFailure_Grid_CustomerCustomerDemo")
            .Load("load_Grid_CustomerCustomerDemo")
            .ToolbarClick("toolbarClick_Grid_CustomerCustomerDemo")
        )
        .Columns(column =>
        {
            column.Field("CustomerId")
                .EditType(EditingType.String)
                .HeaderText(CustomerCustomerDemoResources.PropertyCustomerId)
                .IsPrimaryKey(true)
                .Visible(true)
                .Width(50)
                .Add();
            column.Field("CustomerLookupText")
                .AllowEditing(false)
                .HeaderText(CustomerResources.EntitySingular)
                .Visible(true)
                .Width(100)
                .Add();
            column.Field("CustomerTypeId")
                .EditType(EditingType.String)
                .HeaderText(CustomerCustomerDemoResources.PropertyCustomerTypeId)
                .IsPrimaryKey(true)
                .Visible(true)
                .Width(100)
                .Add();
            column.Field("CustomerDemographicLookupText")
                .AllowEditing(false)
                .HeaderText(CustomerDemographicResources.EntitySingular)
                .Visible(true)
                .Width(100)
                .Add();
        })
        .EditSettings(edit => edit
            .AllowAdding()
            .AllowDeleting()
            .AllowEditing()
        )
        //.EnablePersistence()
        .FilterSettings(filter => filter
            .EnableCaseSensitivity(false)
            .FilterType(FilterType.Excel)
            .MaxFilterChoices(System.Int32.MaxValue)
        )
        .Mappers(map => map
            .ExportToExcelAction(Url.Content("~/CustomerCustomerDemo/ExportToExcel"))
            .ExportToPdfAction(Url.Content("~/CustomerCustomerDemo/ExportToPdf"))
            .ExportToWordAction(Url.Content("~/CustomerCustomerDemo/ExportToWord"))
        )
        .PageSettings(page => page
            .PageSize(AppDefaults.SyncfusionRecordsByPage)
        )
        .SearchSettings(search =>
        {
            search.Fields(field =>
            {
                field.Add("CustomerId");
                field.Add("CustomerLookupText");
                field.Add("CustomerTypeId");
                field.Add("CustomerDemographicLookupText");
            });
        })
        .ShowColumnChooser()
        .ToolbarSettings(toolbar => toolbar
            .CustomToolbarItems(new List<object>() {
                new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Toolbar_Grid_CustomerCustomerDemo" }
            })
            .ShowToolbar()
            .ToolbarItems(items =>
            {
                items.AddTool(ToolBarItems.Search);
                items.AddTool(ToolBarItems.Add);
                items.AddTool(ToolBarItems.Edit);
                items.AddTool(ToolBarItems.Delete);
                items.AddTool(ToolBarItems.ExcelExport);
                items.AddTool(ToolBarItems.PdfExport);
                items.AddTool(ToolBarItems.WordExport);
            })
        )
    )
</div>

@Html.OperationResult(Model.OperationResult)

<script type="text/x-jsrender" id="Toolbar_Grid_CustomerCustomerDemo">
    <div id="Toolbar_Grid_CustomerCustomerDemo_Read" class="e-toolbaricons e-icon e-document" title="@PresentationResources.Read"></div>
</script>

<script>
    $(function () {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();
    
            var title = $("#Collection_CustomerCustomerDemo_Title");
            
            ej.widget.init($("#Collection_CustomerCustomerDemo"));

            if (model.IsSecurityOperations.IsSearch) {
                $("#Collection_CustomerCustomerDemo").css("display", "block");
            }
            else {
                $("#Collection_CustomerCustomerDemo").css("display", "none");
            }

            var gridCustomerCustomerDemo = $("#Grid_CustomerCustomerDemo");
            var ejGridCustomerCustomerDemo = gridCustomerCustomerDemo.data("ejGrid");
                
            if (!model.IsMasterDetail) {
                title.css("display", "block");
                $(document).prop("title", "@Html.Raw(AppHelper.DocumentTitle(ViewBag.Title))");
                
                ejGridCustomerCustomerDemo.setModel({
                    allowGrouping: true,
                    toolbarSettings: {
                        toolbarItems: [
                            ej.Grid.ToolBarItems.Search,
                            ej.Grid.ToolBarItems.Add,
                            ej.Grid.ToolBarItems.Edit,
                            ej.Grid.ToolBarItems.Delete,
                            ej.Grid.ToolBarItems.ExcelExport,
                            ej.Grid.ToolBarItems.PdfExport,
                            ej.Grid.ToolBarItems.WordExport
                        ]                    
                    }
                });
            } else {
                title.css("display", "none");
    
                ejGridCustomerCustomerDemo.setModel({
                    allowGrouping: false,
                    toolbarSettings: {
                        toolbarItems: [
                            ej.Grid.ToolBarItems.Add,
                            ej.Grid.ToolBarItems.Edit,
                            ej.Grid.ToolBarItems.Delete
                        ]                    
                    }
                });
            }
        } catch (exception) {
            alert(zExceptionMessage("_CustomerCustomerDemoCollection.cshtml", "function", exception));
        }                
    });
    
    function actionBegin_Grid_CustomerCustomerDemo(args) {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();
            var masterControllerAction = model.MasterControllerAction == null ? "" : model.MasterControllerAction.toLowerCase();
    
            // Associations (FK)
            var url = "";
            // CustomerDemographic
            if (model.MasterCustomerTypeId != null) {
                url = url + (url == "" ? "" : "&") + "MasterCustomerTypeId=" + String(model.MasterCustomerTypeId);
            }
            // Customer
            if (model.MasterCustomerId != null) {
                url = url + (url == "" ? "" : "&") + "MasterCustomerId=" + String(model.MasterCustomerId);
            }

            if (masterControllerAction == "" || masterControllerAction == "update") {
                switch(args.requestType) {
                    case "add":
                        // Create
                        if (model.IsSecurityOperations.IsCreate) {
                            $("#Ajax").load("@(Url.Action("Create", "CustomerCustomerDemo", null, Request.Url.Scheme))" +
                                (url == "" ? "" : "?") + url);
                        }
                        break;
                    case "read":
                        // Read
                        if (model.IsSecurityOperations.IsRead) {
                            var data = args.data;
                            if (!ej.isNullOrUndefined(data)) {
                                $("#Ajax").load("@(Url.Action("Read", "CustomerCustomerDemo", null, Request.Url.Scheme))?CustomerId=" + String(data.CustomerId) + "&CustomerTypeId=" + String(data.CustomerTypeId) +
                                    (url == "" ? "" : "&") + url);
                            }
                        }
                        break;                        
                    case "beginedit":
                        // Update
                        if (model.IsSecurityOperations.IsUpdate) {
                            var data = this.model.currentViewData[args.rowIndex];
                            if (!ej.isNullOrUndefined(data)) {
                                $("#Ajax").load("@(Url.Action("Update", "CustomerCustomerDemo", null, Request.Url.Scheme))?CustomerId=" + String(data.CustomerId) + "&CustomerTypeId=" + String(data.CustomerTypeId) +
                                    (url == "" ? "" : "&") + url);
                            }
                        }
                        break;
                    case "delete":
                        // Delete
                        if (model.IsSecurityOperations.IsDelete) {
                            var data = args.data;
                            if (!ej.isNullOrUndefined(data)) {
                                $("#Ajax").load("@(Url.Action("Delete", "CustomerCustomerDemo", null, Request.Url.Scheme))?CustomerId=" + String(data.CustomerId) + "&CustomerTypeId=" + String(data.CustomerTypeId) +
                                    (url == "" ? "" : "&") + url);
                            }
                        }
                        break;
                }
            }

            if (args.requestType == "add" || args.requestType == "beginedit" || args.requestType == "delete") {
                args.cancel = true;
            }
        } catch (exception) {
            alert(zExceptionMessage("_CustomerCustomerDemoCollection.cshtml", "actionBegin_Grid_CustomerCustomerDemo", exception));
        }            
    }
    
    function actionFailure_Grid_CustomerCustomerDemo(args) {
        try {
            alert(zErrorMessage(args.error.responseText));
        } catch (exception) {
            alert(zExceptionMessage("_CustomerCustomerDemoCollection.cshtml", "actionFailure_Grid_CustomerCustomerDemo", exception));
        }
    }    

    function load_Grid_CustomerCustomerDemo(args) {
        try {            
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            this.model.locale = culture;
        } catch (exception) {
            alert(zExceptionMessage("_CustomerCustomerDemoCollection.cshtml", "load_Grid_CustomerCustomerDemo", exception));
        }
    }

    function toolbarClick_Grid_CustomerCustomerDemo(sender) {
        try {
            var toolbar = $(sender.target);
            var gridCustomerCustomerDemo = $("#Grid_CustomerCustomerDemo");
            var ejGridCustomerCustomerDemo = gridCustomerCustomerDemo.data("ejGrid");

            if (toolbar.attr("id") == "Toolbar_Grid_CustomerCustomerDemo_Read") {
                var records = ejGridCustomerCustomerDemo.getSelectedRecords();
                if (records.length == 1) {
                    var args = { requestType: "read", data: records[0] };
                    actionBegin_Grid_CustomerCustomerDemo(args)
                }
            }
        } catch (exception) {
            alert(zExceptionMessage("_CustomerCustomerDemoCollection.cshtml", "toolbarClick_Grid_CustomerCustomerDemo", exception));
        }
    }
</script>
