@model TerritoryCollectionModel

@{
    ViewBag.Title = TerritoryResources.EntityPlural;
}

<div id="Territory_Title">
    <h3>@ViewBag.Title</h3>
</div>

@(Html.EJ().Grid<Territory>("Grid_Territory")
    .Datasource(datasource => datasource
        .Adaptor(AdaptorType.UrlAdaptor)
        .URL(Url.Content("~/Territory/DataSource"))
    )
    .AllowFiltering()
    .AllowGrouping()
    .AllowPaging()
    .AllowResizing()
    .AllowScrolling()
    .AllowSearching()
    .AllowSorting()
    .ClientSideEvents(clientEvent => clientEvent
        .ActionBegin("actionBegin_Grid_Territory")
        .ActionFailure("actionFailure_Grid_Territory")
        .Load("load_Grid_Territory")
        .ToolbarClick("toolbarClick_Grid_Territory")
    )
    .Columns(column =>
    {
        column.Field("TerritoryId")
            .EditType(EditingType.String)
            .HeaderText(TerritoryResources.PropertyTerritoryId)
            .IsPrimaryKey(true)
            .Visible(false)
            .Width(200)
            .Add();
        column.Field("TerritoryDescription")
            .EditType(EditingType.String)
            .HeaderText(TerritoryResources.PropertyTerritoryDescription)
            .Visible(true)
            .Width(240)
            .Add();
        column.Field("RegionId")
            .EditType(EditingType.Numeric)
            .Format(SyncfusionPatternResources.GridFormat_Integer)
            .HeaderText(TerritoryResources.PropertyRegionId)
            .TextAlign(TextAlign.Right)
            .Visible(false)
            .Width(100)
            .Add();
        column.Field("RegionLookupText")
            .AllowEditing(false)
            .HeaderText(RegionResources.EntitySingular)
            .Visible(true)
            .Width(100)
            .Add();
    })
    .EditSettings(edit => edit
        .AllowAdding()
        .AllowDeleting()
        .AllowEditing()
    )
    .EnablePersistence()
    .FilterSettings(filter => filter
        .EnableCaseSensitivity(false)
        .FilterType(FilterType.Excel)
        .MaxFilterChoices(System.Int32.MaxValue)
    )
    .Mappers(map => map
        .ExportToExcelAction(Url.Content("~/Territory/ExportToExcel"))
        .ExportToPdfAction(Url.Content("~/Territory/ExportToPdf"))
        .ExportToWordAction(Url.Content("~/Territory/ExportToWord"))
    )
    .PageSettings(page => page
        .PageSize(AppDefaults.SyncfusionRecordsByPage)
    )
    .SearchSettings(search =>
    {
        search.Fields(field =>
        {
            //field.Add("TerritoryId");
            field.Add("TerritoryDescription");
            //field.Add("RegionId");
            field.Add("RegionLookupText");
        });
    })
    .ShowColumnChooser()
    .ToolbarSettings(toolbar => toolbar
        .CustomToolbarItems(new List<object>() {
            new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Toolbar_Grid_Territory" }
        })
        .ShowToolbar()
        .ToolbarItems(items =>
        {
            items.AddTool(ToolBarItems.Search);
            items.AddTool(ToolBarItems.Add);
            items.AddTool(ToolBarItems.Edit);
            items.AddTool(ToolBarItems.Delete);
            items.AddTool(ToolBarItems.ExcelExport);
            items.AddTool(ToolBarItems.PdfExport);
            items.AddTool(ToolBarItems.WordExport);
        })
    )
)

@Html.OperationResult(Model.OperationResult)

<script type="text/x-jsrender" id="Toolbar_Grid_Territory">
    <div id="Toolbar_Grid_Territory_Read" class="e-toolbaricons e-icon e-document" title="@PresentationResources.Read"></div>
</script>

<script>
    $(function () {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();
    
            ej.widget.init($("#Ajax"));
            var title = $("#Territory_Title");       

            var gridTerritory = $("#Grid_Territory");
            var ejGridTerritory = gridTerritory.data("ejGrid");
    
            if (ejGridTerritory.model.filterSettings.filteredColumns.length != 0) {
                ejGridTerritory.clearFiltering();
            }
                
            if (!model.IsMasterDetail) {
                title.css("display", "block");
                $(document).prop("title", "@Html.Raw(AppHelper.DocumentTitle(ViewBag.Title))");
                
                ejGridTerritory.setModel({
                    allowGrouping: true,
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: [
                            ej.Grid.ToolBarItems.Search,
                            ej.Grid.ToolBarItems.Add,
                            ej.Grid.ToolBarItems.Edit,
                            ej.Grid.ToolBarItems.Delete,
                            ej.Grid.ToolBarItems.ExcelExport,
                            ej.Grid.ToolBarItems.PdfExport,
                            ej.Grid.ToolBarItems.WordExport
                        ]                    
                    }
                });
            } else {
                title.css("display", "none");
    
                ejGridTerritory.setModel({
                    allowGrouping: false,
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: [
                            ej.Grid.ToolBarItems.Add,
                            ej.Grid.ToolBarItems.Edit,
                            ej.Grid.ToolBarItems.Delete
                        ]                    
                    }
                });

                if (model.MasterRegionId != null) {
                    ejGridTerritory.filterColumn("RegionId", ej.FilterOperators.equal, model.MasterRegionId, ej.Predicate.and);
                }
            }
        } catch (exception) {
            alert(zExceptionMessage("_TerritoryCollection.cshtml", "function()", exception));
        }                
    });
    
    function actionBegin_Grid_Territory(args) {
        try {
            var model = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)); }();
            var masterControllerAction = model.MasterControllerAction == null ? "" : model.MasterControllerAction.toLowerCase();
    
            // Associations (FK)
            var url = "";
            // Region
            if (model.MasterRegionId != null) {
                url = url + (url == "" ? "" : "&") + "MasterRegionId=" + String(model.MasterRegionId);
            }

            if (masterControllerAction == "" || masterControllerAction == "update") {
                switch(args.requestType) {
                    case "add":
                        // Create
                        if (model.IsSecurityOperations.IsCreate) {
                            $("#Ajax").load("@(Url.Action("Create", "Territory", null, Request.Url.Scheme))" + (url == "" ? "" : "?") + url);
                        }
                        break;
                    case "read":
                        // Read
                        if (model.IsSecurityOperations.IsRead) {
                            var data = args.data;
                            if (!ej.isNullOrUndefined(data)) {
                                $("#Ajax").load("@(Url.Action("Read", "Territory", null, Request.Url.Scheme))?TerritoryId=" + String(data.TerritoryId) + (url == "" ? "" : "&") + url);
                            }
                        }
                        break;                        
                    case "beginedit":
                        // Update
                        if (model.IsSecurityOperations.IsUpdate) {
                            var data = this.model.currentViewData[args.rowIndex];
                            if (!ej.isNullOrUndefined(data)) {
                                $("#Ajax").load("@(Url.Action("Update", "Territory", null, Request.Url.Scheme))?TerritoryId=" + String(data.TerritoryId) + (url == "" ? "" : "&") + url);
                            }
                        }
                        break;
                    case "delete":
                        // Delete
                        if (model.IsSecurityOperations.IsDelete) {
                            var data = args.data;
                            if (!ej.isNullOrUndefined(data)) {
                                $("#Ajax").load("@(Url.Action("Delete", "Territory", null, Request.Url.Scheme))?TerritoryId=" + String(data.TerritoryId) + (url == "" ? "" : "&") + url);
                            }
                        }
                        break;
                }
            }

            if (args.requestType == "add" || args.requestType == "beginedit" || args.requestType == "delete") {
                args.cancel = true;
            }
        } catch (exception) {
            alert(zExceptionMessage("_TerritoryCollection.cshtml", "actionBegin_Grid_Territory(args)", exception));
        }            
    }
    
    function actionFailure_Grid_Territory(args) {
        try {
            alert(zErrorMessage(args.error.responseText));
        } catch (exception) {
            alert(zExceptionMessage("_TerritoryCollection.cshtml", "actionFailure_Grid_Territory(args)", exception));
        }
    }    

    function load_Grid_Territory(args) {
        try {            
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            this.model.locale = culture;
        } catch (exception) {
            alert(zExceptionMessage("_TerritoryCollection.cshtml", "load_Grid_Territory(args)", exception));
        }
    }

    function toolbarClick_Grid_Territory(sender) {
        try {
            var toolbar = $(sender.target);
            var gridTerritory = $("#Grid_Territory");
            var ejGridTerritory = gridTerritory.data("ejGrid");

            if (toolbar.attr("id") == "Toolbar_Grid_Territory_Read") {
                var records = ejGridTerritory.getSelectedRecords();
                if (records.length == 1) {
                    var args = { requestType: "read", data: records[0] };
                    actionBegin_Grid_Territory(args)
                }
            }
        } catch (exception) {
            alert(zExceptionMessage("_TerritoryCollection.cshtml", "toolbarClick_Grid_Territory(sender)", exception));
        }
    }
</script>
